.content { padding: 50px 0; }
.message .alert {margin-top: 10px;}
.fa-2 { font-size: 2em; }
.fa-3 { font-size: 4em; }
.fa-4 { font-size: 7em; }
.fa-5 { font-size: 12em; }
.fa-6 { font-size: 20em; }
.shortcut-row { margin-top: 5em; }
.shortcut-item { padding: 0.5em; }
.shortcut-item h5 { font-weight: bold; }
.shortcut-item p { font-style: italic; }
.btn-toolbar { margin-top: 5px; margin-bottom: 5px; }
.table-big>thead>tr>th, .table-big>tbody>tr>td { padding: 15px; }

/* Login page */
.login-title {
	margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.input-login {
	margin-bottom: 15px;
}

.password-login {
	padding-left: 14px;
}

/* Menu */
.navbar-text a {
	text-decoration: none;
	color: #777;
}

.navbar-text a:hover {
	color: #333;
}

.navbar-user {
	margin-right: 5px;
}


/* Override bootstrap styles */
.table {
	margin-bottom: 0px;
}

.page-header {
	margin: 20px 0 5px;
}