<div class="row">
    <div class="col-sm-12">
        <div class="title">
            <h1>{{'vehicles.view.list' | translate}}</h1>
            <hr/>
        </div>
    </div>
</div>

<div class="row">  
    <div class="col-sm-12">
        <div class="btn-group pull-right btn-toolbar" role="group">
            <a href="#/vehicles/create" class="btn btn-default btn-sm" title="" ng-click="ctrl.create()">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        
       <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed" id="vehicle-list">
                <thead>
                	<tr>
	                    <th>{{'vehicles.field.registration' | translate}} <span class="dropup"><span class="caret"></span></span></th>
	                    <th>{{'vehicles.field.customer' | translate}} <span class="caret"></span></th>
	                    <th>{{'vehicles.field.brand' | translate}}<span class="caret"></span></th>
	                    <th>{{'vehicles.field.model' | translate}}<span class="caret"></span></th>
	                    <th style="width: 90px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.items">
                        <td>{{item.registration}}</td>
                        <td>{{item.customer.firstName + ' ' + item.customer.lastName}}</td>
                        <td>{{item.model.brand.name}}</td>
                        <td>{{item.model.name}}</td>
                        <td>
                            <div class="text-center">
                                <div class="btn-group">
                                	<a href="#/invoices/create/{{item.id}}" class="btn btn-primary btn-xs" title=""><i class="fa fa-file"></i></a>
                                    <a href="#/vehicles/update/{{item.id}}" class="btn btn-primary btn-xs" title=""><i class="fa fa-pencil"></i></a>
                                    <a href="#" class="btn btn-danger btn-xs" title="" ng-click="ctrl.onConfirmDeleteClick(item)" onclick="return false;"><i class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="!ctrl.items.length">
                    	<td colspan="7">{{'messages.empty.result' | translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" items-per-page="ctrl.itemsPerPage" ng-change="ctrl.onPageChanged()" 
			boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" />
    </div>
</div>