<div class="text-center">
    <h1>{{ appTitle }}<br/><small>v{{appVersion}}</small></h1>
</div>

<div class="row shortcut-row">
    <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="newInvoice()">
            <i class="fa fa-file fa-3"></i>
            <h5>Nueva factura</h5>
            <p>Creación de una nueva factura en el sistema.</p>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="showInvoices()">
            <i class="fa fa-file-text fa-3"></i>
            <h5>Facturas</h5>
            <p>Muestra el listado de facturas.</p>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="showCustomers()">
            <i class="fa fa-users fa-3"></i>
            <h5>Particulares</h5>
            <p>Muestra la lista de clientes particulares.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="showCompanyCustomers()">
            <i class="fa fa-institution fa-3"></i>
            <h5>Aseguradoras</h5>
            <p>Muestra la lista de aseguradoras.</p>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="showVehicles()">
            <i class="fa fa-car fa-3"></i>
            <h5>Vehiculos</h5>
            <p>Muestra la listado de vehiculos.</p>
        </div>
    </div>
     <div class="col-sm-4 text-center">
        <div class="shortcut-item" ng-click="showConfiguration()">
            <i class="fa fa-gear fa-3"></i>
            <h5>Configuraci&oacute;n</h5>
            <p></p>
        </div>
    </div>
</div>